<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>COVID-19 hackathon project</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <section id="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">COVID-19 Homepage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="detector">Probability detector</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map">Mapping of cases</a>
                </li>
                <li>
                    <a class="nav-link" href="/blog">Blog for victims</a>
                </li>
                <li>
                    <a class="nav-link" href="/post">Post something</a>
                </li>
                <li>
                    <a class='nav-link' href ="/temp"> Temperature check</a>
                </li>
                
                </ul>
            </div>
            </nav>
        </section>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <h4 class="text-left">Basic Information About COVID-19</h4>
                    </div>
                    <div class="col-sm-7">
                        <h5>Epidemology</h5>
                        <p>On 31 December 2019, the World Health Organization (WHO) was informed of a cluster of cases of pneumonia of unknown cause detected in Wuhan City, Hubei Province, China.

                            On 12 January 2020 it was announced that a novel coronavirus had been identified in samples obtained from cases and that initial analysis of virus genetic sequences suggested that this was the cause of the outbreak. This virus is referred to as SARS-CoV-2, and the associated disease as COVID-19.
                            
                            As of 17 April 2020 (10:00am CET), more than 2 million cases have been diagnosed globally, with over 145,000 fatalities. (www.gov.uk) </p>
                    </div>
                    <div class="col-sm-7">
                        <h5>Virology</h5>
                        <p>
                            Coronaviruses are a large family of viruses with some causing less-severe disease, such as the common cold, and others causing more severe disease such as Middle East respiratory syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS) coronaviruses. (www.gov.uk)
                        </p>
                    </div>
                    <div class="col-sm-7">
                        <h5>Transmission</h5>
                        <p>The source of the outbreak has yet to be determined. Preliminary investigations in China in January 2020 identified environmental samples positive for SARS-CoV-2 in Huanan Seafood Wholesale Market in Wuhan City, however, some laboratory-confirmed patients did not report visiting this market. A zoonotic source to the outbreak has not been identified yet, but investigations are ongoing.

                            According to current evidence, the COVID-19 virus is primarily transmitted between people through respiratory droplets and contact routes.
                            
                            Human-to-human transmission is occurring extensively. Hence, precautions to prevent human-to-human transmission are appropriate for both suspected and confirmed cases (see infection prevention and control guidance).
                            
                            In addition to respiratory secretions, SARS-CoV-2 has been detected in blood, faeces and urine.
                            
                            In the context of COVID-19, airborne transmission may be possible in specific circumstances and settings in which procedures or support treatments that generate aerosols are performed. (www.gov.uk)</p>
                    </div>
                    <div class="col-sm-7"> 
                        <h5>Signs and Symptoms</h5>
                        <p> Common symptoms:
                            <br>
                            - Fever
                            <br>
                            - Tiredness
                            <br>
                            - Dry cough
                            <br>
                            <br>
                            Some people may experience:
                            <br>
                            - Aches and pains
                            <br>
                            - Nasal congestion
                            <br>
                            - Runny nose
                            <br>
                            - Sore throat
                            <br>
                            - Diarrhoea.</p>
                    </div>
                    <div class="col-sm-7">
                        <form action="/" method="POST">
                            <div class="form-group">
                                <label for="country">Which country do you want data of? (Please enter country initials for example Singapore = SG, India = IN</label>
                                <input type="text" class="form-control" id="country" name="country" placeholder="SG">
                            </div>
                            <input type="submit" name = "live" value="Live-Data">
                        </form>

                        <p>
                            <br>
                            
                            Total Confirmed Cases: {{totalConfirmedCases}}
                            <br>
                            Newly Confirmed Cases: {{newlyConfirmedCases}}
                            <br>
                            Total Deaths: {{totalDeaths}}
                            <br>
                            New Deaths: {{newDeaths}}
                            <br>
                            Recovered Cases!!!: {{totalRecoveredcases}}
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>